<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Between Two Cities Scorer </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/district_factory_scoring.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/city_layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/score_breakdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/score.js') }}"></script>

</head>
<body>

    <!-- City Tile Layout for JS -->
    <input type="hidden" id="city-tiles", name="city-tiles" value="{{ city_tiles }}">
    <input type="hidden" id="scored", name="scored" value="{{ scored }}">

    <div id="page-container">

        <div id="loader-background">
            <div id="loader" class="loader"></div>
        </div>

        <div id="district-selection">
            <button id="district-collapsible"> <h1>Districts</h1> <a href="#" id="downArrow"></a> </button>
            
            <div id="district-scoring">
                <div class="district-row">
                    <label for="district1-score-input">District 1:</label>
                    <input type="number" id="district1-score-input" name="district1-score-input" min="0" max="9" value="0">
                </div>
                <div class="district-row">
                    <label for="district2-score-input">District 2:</label>
                    <input type="number" id="district2-score-input" name="district2-score-input" min="0" max="8" value="0">
                </div>
                <div class="district-row">
                    <label for="district3-score-input">District 3:</label>
                    <input type="number" id="district3-score-input" name="district3-score-input" min="0" max="7" value="0">
                </div>
            </div>
        </div>
        <div id="factory-scoring">
            <div class="factory-row">
                <label class="label" for="factory-dropdown"> <h1>Factory Score:</h1> </label>
                <select class="selection" name="factory-dropdown" id="factory-dropdown">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>

        <div id="image-upload">
            <form id="image-form" method="POST" enctype="multipart/form-data" action="/Calculator">
                <label id="image-input-label" for="image-input">  </label>
                <input id="image-input" type="file" name="image" accept="image/*" capture="environment" id="imageInput">
                <button id="image-submit" type="submit">Score City</button>
                <button id="manual-mode" type="submit">Enter City Manually</button>
            </form>
        </div>

        <div id="score-area">
            <div>
                <h1 id="total-score-heading">  </h1>
            </div>
            <div id="city-board-container">
                <table id="city-board-tiles"></table>
            </div>
            <div id="score-breakdown">
                <table id="score-breakdown-table">
                    <tr>
                        <td>District 1:</td>
                        <td id="district1-score"></td>
                    </tr>
                    <tr>
                        <td>District 2:</td>
                        <td id="district2-score"></td>
                    </tr>
                    <tr>
                        <td>District 3:</td>
                        <td id="district3-score"></td>
                    </tr>
                    <tr>
                        <td> <img src="/static/icons/factory_icon.png"> </td>
                        <td id="factory-score">  </td>
                    </tr>
                    <tr>
                        <td> <img src="/static/icons/shop_icon.png"> </td>
                        <td id="shop-score">  </td>
                    </tr>
                    <tr>
                        <td> <img src="/static/icons/park_icon.png"> </td>
                        <td id="park-score">  </td>
                    </tr>
                    <tr>
                        <td> <img src="/static/icons/tavern_icon.png"> </td>
                        <td id="tavern-score">  </td>
                    </tr>
                    <tr>
                        <td> <img src="/static/icons/office_icon.png"> </td>
                        <td id="office-score">  </td>
                    </tr>
                    <tr>
                        <td> <img src="/static/icons/house_icon.png"> </td>
                        <td id="house-score">  </td>
                    </tr>
                    <tr>
                        <td> <img src="/static/icons/civic_icon.png"> </td>
                        <td id="civic-score">  </td>
                    </tr>
                    <tr>
                        <td> Total: </td>
                        <td id="total-score-box">  </td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="tavern-modal">
            <div id="tavern-selection">
                <label> <input type="radio" name="tavern" id="restaurant" value="restaurant"> <img class="tavern-select-img" src="/static/icons/icons8-restaurant-100.png" height="45px"> </label> <br>
                <label> <input type="radio" name="tavern" id="inn" value="inn"> <img class="tavern-select-img" src="/static/icons/icons8-bed-96.png" height="45px"> </label> <br>
                <label> <input type="radio" name="tavern" id="bar" value="bar"> <img class="tavern-select-img" src="/static/icons/icons8-beer-mug-64.png" height="45px"> </label> <br>
                <label> <input type="radio" name="tavern" id="music" value="music"> <img class="tavern-select-img" src="/static/icons/icons8-music-note-96.png" height="45px"> </label> <br>
            </div>
        </div>

        <div id="civic-modal">
            <div id="civic-selection">
                <label class="civic-label" for="civic-bonus1-selection"> <h1>Positive 1:</h1> </label>
                <select class="civic-dropdown" name="civic" id="civic-bonus1-dropdown">
                    <option value="factory">Factory</option>
                    <option value="shop">Shop</option>
                    <option value="park">Park</option>
                    <option value="tavern">Tavern</option>
                    <option value="office">Office</option>
                    <option value="house">House</option>
                    <option value="civic">Civic</option>
                </select>
                <label class="civic-label" for="civic-bonus2-selection"> <h1>Positive 2:</h1> </label>
                <select class="civic-dropdown" name="civic" id="civic-bonus2-dropdown">
                    <option value="factory">Factory</option>
                    <option value="shop">Shop</option>
                    <option value="park">Park</option>
                    <option value="tavern">Tavern</option>
                    <option value="office">Office</option>
                    <option value="house">House</option>
                    <option value="civic">Civic</option>
                </select>
                <label class="civic-label" for="civic-negative-selection"> <h1>Negative:</h1> </label>
                <select class="civic-dropdown" name="civic" id="civic-negative-dropdown">
                    <option value="factory">Factory</option>
                    <option value="shop">Shop</option>
                    <option value="park">Park</option>
                    <option value="tavern">Tavern</option>
                    <option value="office">Office</option>
                    <option value="house">House</option>
                    <option value="civic">Civic</option>
                </select>
                <br>
                <button id="civic-confirm-btn">Confirm</button>
            </div>
        </div>

        <div id="bridge-modal">
            <div id="bridge-selection">
                <label> <input type="radio" name="bridge" id="horizontal" value="horizontal"> <img class="select-img" src="/static/icons/bridge_horizontal_icon.png" height="45px"> </label> <br>
                <label> <input type="radio" name="bridge" id="vertical" value="vertical"> <img class="select-img" src="/static/icons/bridge_vertical_icon.png" height="45px"> </label> <br>
            </div>
        </div>

        <div id="footer">
            <a target="_blank" href="https://icons8.com/icon/2760/expand-arrow">Down Arrow</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <br>
            <a target="_blank" href="https://icons8.com/icon/11772/camera">Camera</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <br>
            <a target="_blank" href="https://icons8.com/icon/bG8gr4NV0bLg/empty-bed">Bed</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <br>
            <a target="_blank" href="https://icons8.com/icon/7vKkzvo3CW5U/beer-mug">Beer Mug</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <br>
            <a target="_blank" href="https://icons8.com/icon/7uTadNKz7Brz/restaurant">Restaurant</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>            
        </div>
    
    </div>
        
</body>
</html>