/* ------------------------------------------------------------------------------------------- */
/* Footer */
#footer {
    position: relative;
    margin-top: 80px;
    padding-top: 80px;
    bottom: 0%;
}
/* ------------------------------------------------------------------------------------------- */